<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism"/>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
	</startup>

	<connectionStrings>
		<clear/>
		<add name="Security" connectionString="Data Source=192.168.0.168;Initial Catalog=Security;User ID=ARCHIV_APP;Password=ARCHIV_APP;MultipleActiveResultSets=True"/>
		<add name="Archiv" connectionString="Data Source=192.168.0.168;Initial Catalog=Archiv;User ID=ARCHIV_APP;Password=ARCHIV_APP"/>
		<add name ="1C-Mariupolgaz" connectionString="Srvr=serv;Ref=base_upp;Usr=EContract;Pwd=econtract"/>
	</connectionStrings>

	<appSettings>
		<clear/>
		<add key="org" value="03361135"/>
	</appSettings>

	<modules>
		<module assemblyFile="mariupolgaz.earchiv.security" moduleType="Mariupolgaz.EArchiv.Security.SecurityModule, Mariupolgaz.EArchiv.Security, Version=1.0.0.1, Culture=neutral, PublicKeyToken=null"
            moduleName="SecurityService" startupLoaded="true"/>
		<module assemblyFile="mariupolgaz.econtract.finder" moduleType="Mariupolgaz.EContract.Finder.ContractFinderModule, Mariupolgaz.EContract.Finder, Version=1.0.0.1, Culture=neutral, PublicKeyToken=null"
            moduleName="ContractFinder" startupLoaded="true"/>
		<module assemblyFile="mariupolgaz.earchiv.document" moduleType="Mariupolgaz.EArchiv.Document.DocumentModule, Mariupolgaz.EArchiv.Document, Version=1.1.0.1, Culture=neutral, PublicKeyToken=null"
            moduleName="Document" startupLoaded="true"/>
		<module assemblyFile="mariupolgaz.econtract.docscontract" moduleType="Mariupolgaz.EContract.DocsContract.DocsContractModule, Mariupolgaz.EContract.DocsContract, Version=1.0.0.1, Culture=neutral, PublicKeyToken=null"
            moduleName="DocContract" startupLoaded="true">
			<dependencies>
				<dependency moduleName="Document" />
			</dependencies>
		</module>
	</modules>
</configuration>