<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism" />
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
	</startup>

	<connectionStrings>
		<add name="Globus" connectionString="Data Source=192.168.0.168;Initial Catalog=Globus;User ID=ARCHIV_APP;Password=ARCHIV_APP" />
		<add name="Archiv" connectionString="Data Source=192.168.0.168;Initial Catalog=Archiv;User ID=ARCHIV_APP;Password=ARCHIV_APP" />
		<add name="Security" connectionString="Data Source=192.168.0.168;Initial Catalog=Security;User ID=ARCHIV_APP;Password=ARCHIV_APP" />
    <add name="Gasolina" connectionString="Data Source=192.168.0.211;Database=E:/DATA/MARIUPOL.FDB;User=SYSDBA;Password=masterkey" />
	</connectionStrings>

	<modules>
		<module assemblyFile="mariupolgaz.earchiv.finder.dll" moduleType="Mariupolgaz.EArchiv.Finder.FinderModule, Mariupolgaz.EArchiv.Finder, Version=1.0.1.0, Culture=neutral, PublicKeyToken=null" moduleName="FinderService" startupLoaded="true" />
		<module assemblyFile="mariupolgaz.earchiv.document.dll" moduleType="Mariupolgaz.EArchiv.Document.DocumentModule, Mariupolgaz.EArchiv.Document, Version=1.0.0.2, Culture=neutral, PublicKeyToken=null" moduleName="Document" startupLoaded="true" />
		<module assemblyFile="mariupolgaz.earchiv.abonent.dll" moduleType="Mariupolgaz.EArchiv.Abonent.AbonentModule, Mariupolgaz.EArchiv.Abonent, Version=1.0.1.0, Culture=neutral, PublicKeyToken=null" moduleName="Abonents" startupLoaded="true">
			<dependencies>
				<dependency moduleName="FinderService" />
			</dependencies>
		</module>
		<module assemblyFile="mariupolgaz.earchiv.docsabon.dll" moduleType="Mariupolgaz.EArchiv.DocsAbon.DocsAbonModule, Mariupolgaz.EArchiv.DocsAbon, Version=1.0.1.1, Culture=neutral, PublicKeyToken=null" moduleName="DocsAbonent" startupLoaded="true">
			<dependencies>
				<dependency moduleName="Document" />
			</dependencies>
		</module>
		<module assemblyFile="mariupolgaz.earchiv.security" moduleType="Mariupolgaz.EArchiv.Security.SecurityModule, Mariupolgaz.EArchiv.Security, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="SecurityService" startupLoaded="true" />
	</modules>
<system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
