<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism"/>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
	</startup>

	<connectionStrings>
		<add name="Globus" connectionString="Data Source=DATA-SERV;Initial Catalog=Globus;User ID=ARCHIV_APP;Password=ARCHIV_APP"/>
		<add name="Archiv" connectionString="Data Source=DATA-SERV;Initial Catalog=Archiv;User ID=ARCHIV_APP;Password=ARCHIV_APP"/>
	</connectionStrings>

	<modules>
		<module assemblyFile="mariupolgaz.earchiv.finder.dll" moduleType="Mariupolgaz.EArchiv.Finder.FinderModule, Mariupolgaz.EArchiv.Finder, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="FinderService" startupLoaded="true"/>
		<module assemblyFile="mariupolgaz.earchiv.abonent.dll" moduleType="Mariupolgaz.EArchiv.Abonent.AbonentModule, Mariupolgaz.EArchiv.Abonent, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="Abonents" startupLoaded="true">
			<dependencies>
				<dependency moduleName="FinderService" />
			</dependencies>
		</module>
	</modules>
</configuration>
