<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism"/>
	</configSections>

	<connectionStrings>
		<add name="Security" connectionString="Data Source=DATA-SERV;Initial Catalog=Security;User ID=ARCHIV_APP;Password=ARCHIV_APP"/>
	</connectionStrings>

	<modules>
		<module assemblyFile="mariupolgaz.earchiv.security" moduleType="Mariupolgaz.EArchiv.Security.SecurityModule, Mariupolgaz.EArchiv.Security, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="SecurityService" startupLoaded="true"/>
	</modules>
</configuration>